footer.footer
	.container
		.footer-top
			+footer-menu("О компании", "Сертификаты", "Партнеры", "Отзывы", "Вопрос-ответ", "Продукция", "Видеообзор техники", "Эксплуатация", "Услуги", "Проекты", "Пресс-центр", "Контакты")
		.footer-bottom
.call
	.call-title
	.call-inner
		form(action="").call-form
			input(type="text" placeholder="+7 (___) ___-__-__" class="input")