header.header
	a(href="").header-logo
	+header-menu("О компании", "Продукция", "Видеообзор техники", "Эксплуатация", "Услуги", "Пресс-центр", "Для диллеров", "Контакты")
	.header-contacts
		a(href="tel: +7 (846) 202-23-32").header-contacts__phone +7 (846) 202-23-32
		+button("", "primary", "lg", "") Запрос на подбор
a(href="").burger
	.burger-inner
		span.burger-line
		span.burger-line
		span.burger-line
	.burger-title Меню