@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=cyrillic-ext");
body {
  background-color: #1d1d1d;
  color: #1d1d1d;
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto Condensed", sans-serif;
}

::-moz-selection {
  background-color: #ffcc00;
  color: #1d1d1d;
}

::selection {
  background-color: #ffcc00;
  color: #1d1d1d;
}

::-ms-expand {
  display: none;
}

.wrapper {
  height: 100vh;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.wrapper.active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-lg {
  padding: 80px 0;
}

.section-sm {
  padding: 80px 0 0;
}

.section-white {
  background-color: #ffffff;
}

.section-gray {
  background-color: #f7f7f7;
}

.section-yellow {
  background-color: #ffcc00;
}

.section-yellow .title-line {
  background-color: #1d1d1d;
}

.section_partnersSlider {
  padding: 110px 0 195px;
}

.section_partnersSliderHome {
  padding-bottom: 195px;
}

.section_diler {
  padding: 0 0 50px;
}

.section_modalPartner {
  padding: 0 0 120px;
}

.section_high {
  padding: 110px 0;
}

.section_video {
  padding: 100px 0 40px;
}

.section_questions {
  padding: 90px 0 120px;
}

.section_questions .title-wrap {
  width: 100%;
}

.section_bg {
  position: relative;
}

.section-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section_order {
  padding: 30px 0 56px;
}

.section_dev {
  padding-bottom: 27px;
}

.section_offerDev {
  padding: 90px 0 70px;
}

.section_more {
  padding-top: 56px;
}

.section_articleSingle {
  padding-bottom: 30px;
}

.section_vy {
  padding-bottom: 130px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  background-color: #1d1d1d;
  z-index: 200;
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.header.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header-logo {
  display: block;
}

.header-menu {
  height: 100%;
  margin: 30px 0;
}

.header-menu__item_link {
  display: block;
  padding: 15px 30px;
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: color .4s ease-in-out;
  transition: color .4s ease-in-out;
}

.header-menu__item_link:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #ffcc00;
  z-index: -1;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

.header-menu__item_link:hover {
  color: #1d1d1d;
}

.header-menu__item_link:hover:before {
  width: 100%;
}

.header-contacts {
  padding: 0 20px 20px;
}

.header-contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 25px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.header-contacts__phone:hover {
  color: #ffcc00;
}

.header-contacts .btn {
  width: 100%;
}

.burger {
  position: absolute;
  top: 50px;
  left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 200;
  -webkit-transition: left .4s ease-in-out;
  transition: left .4s ease-in-out;
}

.burger_white .burger-line {
  background-color: #fff;
}

.burger_white .burger-line:before {
  background-color: #fff;
}

.burger_white .burger-title {
  color: #fff;
}

.burger_white.active .burger-title, .burger_white:hover .burger-title {
  color: #fff;
}

.burger_white.active .burger-title:hover, .burger_white:hover .burger-title:hover {
  color: #fff;
}

.burger:hover .burger-line:nth-child(2), .burger.active .burger-line:nth-child(2) {
  width: 80%;
}

.burger:hover .burger-line:nth-child(3), .burger.active .burger-line:nth-child(3) {
  width: 60%;
}

.burger:hover .burger-title, .burger.active .burger-title {
  color: #000;
}

.burger.active {
  left: 300px;
}

.burger.active .burger-line:before {
  width: 100%;
}

.burger-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 30px;
}

.burger-line {
  width: 100%;
  height: 1px;
  margin: 0 0 8px;
  background-color: #000;
  position: relative;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

.burger-line:last-child {
  margin: 0;
}

.burger-line:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #000;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

.burger-title {
  margin: 0 0 0 15px;
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid transparent;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: border-color .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
  transition: border-color .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
}

.btn-primary {
  background-color: #ffcc00;
  color: #1d1d1d;
}

.btn-primary:hover {
  background-color: #4a4a4a;
  color: #ffffff;
}

.btn-secondary {
  border-color: #4a4a4a;
  color: #4a4a4a;
}

.btn-secondary:hover {
  background-color: #4a4a4a;
  color: #ffffff;
}

.btn-lg {
  padding: 20px 40px;
}

.btn-sm {
  padding: 15px 30px;
}

.btn-wrap {
  margin: 50px 0 0;
  text-align: center;
}

.btn-toYellow {
  border: solid 2px #4a4a4a;
  color: #4a4a4a;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn-toYellow:hover {
  -webkit-box-shadow: 0px 12px 20px 0 rgba(105, 105, 105, 0.22);
          box-shadow: 0px 12px 20px 0 rgba(105, 105, 105, 0.22);
  background-color: #ffcc00;
  border-color: #ffcc00;
  color: #2b356a;
}

.intro {
  height: 100vh;
  padding: 100px 0;
  overflow: hidden;
}

.intro-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  position: relative;
  z-index: 10;
}

.intro-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-social__title {
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.intro-social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 20px;
}

.intro-social__item svg {
  height: 20px;
  margin-right: 5px;
}

.intro-social__item_link {
  color: #ffcc00;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.intro-social__item_link:hover {
  color: #ffffff;
}

.intro-content {
  max-width: 700px;
}

.intro-title {
  margin: 0 0 20px;
  color: #ffcc00;
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
}

.intro-text {
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
}

.intro-advantages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.intro-advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
}

.intro-advantages__item_title {
  margin: 24px 0 0;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  line-height: 24px;
}

.intro-image {
  position: relative;
  width: 100%;
  height: 100vh;
  top: -115%;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.intro-image:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(29, 29, 29, 0.8);
}

.intro-btn {
  margin-top: 41px;
  color: #fff;
  padding: 25px 138px;
  border: solid 2px #ffcc00;
  background-color: transparent;
}

.intro-btn:hover {
  color: #000;
  border-color: #ffcc00;
  background-color: #ffcc00;
}

.articleSingle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-shadow: 0px 5px 15px 0 rgba(105, 105, 105, 0.1);
          box-shadow: 0px 5px 15px 0 rgba(105, 105, 105, 0.1);
  background-color: #ffffff;
  padding: 44px 30px 53px;
}

.articleSingle-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.articleSingle-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.articleSingle-date img {
  width: 17px;
  height: 17px;
}

.articleSingle-date p {
  margin-left: 7px;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: #7f7f7f;
}

.articleSingle-title {
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #4a4a4a;
}

.articleSingle-text {
  font-size: 16px;
  color: #4a4a4a;
}

.articleSingle-link {
  padding: 23px 57px 19px;
}

.catalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.catalog-item {
  padding: 25px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 0 25px rgba(29, 29, 29, 0.05);
          box-shadow: 0 0 25px rgba(29, 29, 29, 0.05);
  -webkit-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
}

.catalog-item:hover {
  border-color: #ffcc00;
}

.catalog-item:hover .catalog-item__image {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.catalog-item__image {
  height: 100%;
  background-image: url("../images/stub.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.catalog-item__image_wrap {
  height: 200px;
  position: relative;
  overflow: hidden;
}

.catalog-item__label {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px;
  background-color: #ffcc00;
  font-size: 12px;
  text-transform: uppercase;
}

.catalog-item__title {
  margin: 20px 0 0;
  font-size: 18px;
  line-height: 25px;
}

.catalog-item__list {
  margin: 20px 0 30px;
}

.catalog-item__list_item {
  margin: 0 0 20px;
  font-size: 15px;
}

.catalog-item__list_item:last-child {
  margin: 0;
}

.benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 82px 0 50px;
}

.benefit-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-bottom: 88px;
}

.benefit-item:last-child, .benefit-item:nth-last-child(2) {
  margin-bottom: 0;
}

.benefit-item img {
  width: 100px;
  min-width: 100px;
  height: 100px;
}

.benefit-item__inner {
  width: 53%;
  padding-left: 24px;
  margin: 0 0 0 20px;
}

.benefit-item__title {
  margin: 0 0 10px;
  color: #cdcdcf;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: 700;
}

.benefit-item__text {
  font-size: 15px;
  line-height: 25px;
}

.benefit-link {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 auto 0 0;
  padding: 32px 155px;
}

.benefitConstructor {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.benefitConstructor-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28%;
}

.benefitConstructor-item img {
  margin-right: 22px;
}

.benefitConstructor-item > p {
  width: 125px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #1d1d1d;
}

.benefitConstructor-wheel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 20px;
}

.benefitConstructor-wheel p {
  margin-right: 18px;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #1d1d1d;
}

.benefitConstructor-arrow {
  position: relative;
  top: 35px;
}

.about-text {
  margin: 0 0 20px;
  font-size: 15px;
  line-height: 25px;
}

.about-text:last-of-type {
  margin: 0 0 30px;
}

.partners {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.partners-item__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  padding: 50px;
  background-color: #ffffff;
}

.partners-item__title {
  margin: 20px 0 15px;
  font-size: 18px;
}

.partners-item__text {
  font-size: 15px;
}

.articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.articles-item {
  padding: 25px;
  -webkit-box-shadow: 0 0 25px rgba(29, 29, 29, 0.05);
          box-shadow: 0 0 25px rgba(29, 29, 29, 0.05);
  -webkit-transition: -webkit-box-shadow .3s ease-in-out;
  transition: -webkit-box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}

.articles-item:hover {
  -webkit-box-shadow: 0 10px 50px rgba(29, 29, 29, 0.1);
          box-shadow: 0 10px 50px rgba(29, 29, 29, 0.1);
}

.articles-item__image {
  height: 200px;
  background-image: url("../images/stub.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.articles-item__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0 0;
}

.articles-item__title {
  margin: 10px 0;
  font-size: 18px;
  line-height: 25px;
}

.articles-item__text {
  margin: 0 0 25px;
  font-size: 15px;
  line-height: 25px;
}

.relations {
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 40px;
  background-color: #ffffff;
  z-index: 10;
}

.relations-list {
  margin: 0 0 25px;
}

.relations-list__item {
  margin: 0 0 20px;
}

.relations-list__item:last-child {
  margin: 0;
}

.relations-list__item_title {
  display: block;
  margin: 0 0 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.relations-list__item_text {
  max-width: 300px;
  font-size: 15px;
  line-height: 25px;
}

.relations-list__item_phone {
  color: #1d1d1d;
  font-size: 18px;
  line-height: 25px;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.relations-list__item_phone:hover {
  color: #ffcc00;
}

.relations-list__item_email {
  color: #1d1d1d;
  font-size: 15px;
  line-height: 25px;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.relations-list__item_email:hover {
  color: #ffcc00;
}

.relations-wrap {
  height: 600px;
  position: relative;
}

.relations-wrap_aboutPage {
  height: 750px;
}

.relations_aboutPage {
  left: 50%;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  padding: 70px 101px 70px 70px;
}

.relations_aboutPage ul.relations-list {
  margin-bottom: 48px;
}

.relations_aboutPage li.relations-list__item {
  margin-bottom: 28px;
}

.relations_aboutPage li.relations-list__item span.relations-list__item_title {
  margin-bottom: 5px;
}

.relations_dilers {
  left: 46.5%;
  top: 110px;
}

.map {
  width: 100%;
  height: 100%;
}

.title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 0 0 30px;
  position: relative;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
}

.title_large {
  font-size: 40px;
  line-height: 62px;
}

.title_contact {
  font-size: 16px;
  line-height: 24px;
}

.title-text {
  margin: 15px 0 0;
  font-size: 18px;
  line-height: 30px;
}

.title-text_large {
  font-size: 18px;
  line-height: 30px;
}

.title-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  background-color: #ffcc00;
}

.title-wrap {
  max-width: 700px;
  margin: 0 0 40px;
}

.title-wrap_article {
  max-width: 800px;
}

.title-wrap_full {
  width: 100%;
}

.title_product {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1;
}

.title_product .title-line {
  max-height: 60%;
}

.title-subRow {
  display: block;
  margin-top: 10px;
  font-size: 30px;
  text-transform: lowercase;
}

.input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  border-radius: 50px;
  color: #1d1d1d;
  font-size: 15px;
}

.input::-webkit-input-placeholder {
  color: #1d1d1d;
  font-size: 15px;
}

.input::-moz-placeholder {
  color: #1d1d1d;
  font-size: 15px;
}

.input:-moz-placeholder {
  color: #1d1d1d;
  font-size: 15px;
}

.input:-ms-input-placeholder {
  color: #1d1d1d;
  font-size: 15px;
}

.aboutPage-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px 0 30px;
}

.aboutPage-wrapper_home {
  position: relative;
}

.aboutPage-wrapper_home .aboutPage-block:first-child {
  width: 60%;
}

.aboutPage-wrapper_home .aboutPage-block:last-child {
  position: absolute;
  top: -170px;
  right: 0;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.aboutPage-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.aboutPage-block:first-child {
  width: 66%;
}

.aboutPage-block:last-child {
  position: relative;
  width: 44%;
}

.aboutPage-logo {
  height: 42px;
  max-height: 42px;
  margin: 0 0 58px;
}

.aboutPage-text {
  margin: 0 0 40px;
  font-size: 16px;
  line-height: 30px;
}

.aboutPage-text_bold {
  font-size: 18px;
  font-weight: bold;
}

.aboutPage-text_bold span {
  display: block;
}

.aboutPage-link {
  padding: 22px 66px;
  margin: 24px 0 0;
}

.aboutPage-hexagon {
  position: relative;
  height: 550px;
  left: 100px;
  top: 100px;
}

.sertificates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 0 202px;
}

.sertificates_home {
  width: 370px;
}

.sertificates_home .sertificates-slide {
  width: 370px;
}

.sertificates_home .sertificates-slide img {
  height: 530px;
}

.sertificates-slide {
  margin-right: 28px;
  width: 270px;
  -webkit-box-shadow: 0px 5px 15px 0 rgba(105, 105, 105, 0.22);
          box-shadow: 0px 5px 15px 0 rgba(105, 105, 105, 0.22);
}

.sertificates-slide img {
  height: 385px;
}

.sertificates-slide.slick-current {
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sertificates-sliderBottom {
  position: relative;
  bottom: -100px;
}

.sertificates-nums {
  position: absolute;
  bottom: 18px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.sertificates-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  line-height: 26px;
  color: #cdcdcf;
}

.sertificates-num_current {
  font-size: 24px;
  color: #262626;
}

.sertificates_expl {
  padding: 40px 0 130px;
}

.arrows {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  bottom: -92px;
}

.arrows-arrow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border: solid 2px #cdcdcf;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.arrows-arrow span {
  width: 10px;
  height: 10px;
  border-left: solid 3px #cdcdcf;
  border-bottom: solid 3px #cdcdcf;
  margin-left: 5%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.arrows-arrow_next {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  right: 0;
}

.arrows-arrow:hover {
  border-color: #ffcc00;
  background: #ffcc00;
}

.arrows-arrow:hover span {
  border-color: #262626;
}

.partnersSlider {
  padding: 85px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.partnersSlider-slide {
  width: 270px;
  margin-right: 30px;
}

.partnersSlider-slide img {
  width: 100%;
}

.partnersSlider-slideTitle {
  margin: 24px 0 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.partnersSlider-slideSubtitle {
  font-size: 16px;
  line-height: 24px;
}

.press-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0 30px;
}

.press-item {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 60px;
  padding: 28px 24px 40px 24px;
  background: #fff;
  -webkit-box-shadow: 0px 12px 35px 0 rgba(105, 105, 105, 0.22);
          box-shadow: 0px 12px 35px 0 rgba(105, 105, 105, 0.22);
  -webkit-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
  border: 1px solid transparent;
}

.press-item:hover {
  border-color: #ffcc00;
}

.press-item:hover .press-image {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.press-imageWrap {
  width: 100%;
  height: 260px;
  margin-bottom: 24px;
  overflow: hidden;
}

.press-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.press-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.press-date img {
  width: 18px;
  height: 18px;
  margin-right: 7px;
}

.press-date p {
  font-size: 12px;
  color: #7f7f7f;
  line-height: 30px;
  text-transform: uppercase;
}

.press-subtitle {
  margin: 10px 0;
  font-size: 22px;
  line-height: 30px;
  color: #4a4a4a;
}

.press-excerpt {
  margin: 0 0 29px;
  font-size: 16px;
  line-height: 30px;
  color: #4a4a4a;
}

.press-link {
  padding: 23px 56px 19px;
}

.press-loadmore {
  padding: 24px 100px;
  margin: 70px auto 0;
}

.archive {
  padding: 32px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.archive-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 49%;
  padding: 60px 70px 70px;
  background: #ffffff;
  -webkit-box-shadow: 0px 12px 35px 0 rgba(105, 105, 105, 0.22);
          box-shadow: 0px 12px 35px 0 rgba(105, 105, 105, 0.22);
  border: 1px solid transparent;
  -webkit-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
}

.archive-item:hover {
  border-color: #ffcc00;
}

.archive-item:hover .archive-image {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.archive-imageWrap {
  position: relative;
  height: 280px;
  width: 100%;
  overflow: hidden;
}

.archive-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.archive-delivery {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.archive-delivery p, .archive-delivery span {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  color: #171a2b;
  line-height: 17px;
}

.archive-delivery span {
  font-weight: bold;
}

.archive-delivery p {
  position: absolute;
  left: 48px;
}

.archive-autoIcon {
  position: absolute;
  left: 17px;
  width: 20px;
  height: 13px;
  margin-right: 11px;
}

.archive-subtitle {
  margin: 40px 0 24px;
  font-size: 22px;
  line-height: 30px;
  color: #4a4a4a;
}

.archive-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.archive-listItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0 0;
}

.archive-listItem img {
  width: 22px;
  min-width: 22px;
  height: 22px;
  margin-right: 30px;
}

.archive-listItem p, .archive-listItem span {
  font-size: 18px;
  line-height: 39px;
  color: #4a4a4a;
}

.archive-listItem p {
  font-weight: normal;
}

.archive-listItem span {
  margin-left: 5px;
  font-weight: bold;
}

.archive-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.archive-link_select {
  padding: 22px 30px 20px;
}

.archive-link_more {
  padding: 23px 56px 19px;
}

.article {
  padding: 32px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.article-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-date img {
  width: 18px;
  max-width: 18px;
  height: 18px;
}

.article-date p {
  margin-left: 7px;
  font-size: 12px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
  color: #7f7f7f;
}

.article-text {
  width: 75%;
  margin: 42px 0 48px;
  font-size: 16px;
  line-height: 30px;
  color: #4a4a4a;
}

.article-text_first {
  margin: 67px 0 90px;
}

.article-subtitle {
  width: 75%;
  font-size: 24px;
  line-height: 30px;
  color: #1d1d1d;
  font-weight: bold;
}

.article-imageLabel {
  display: block;
  font-weight: bold;
  font-style: italic;
}

.article img {
  margin: 12px 0 12px;
  max-width: 75%;
}

.article-list {
  padding-bottom: 42px;
}

.article-listLabel, .article-list li {
  font-size: 16px;
  line-height: 30px;
  color: #4a4a4a;
}

.article-listLabel {
  margin-bottom: 50px;
  font-weight: bold;
}

.article-list li {
  position: relative;
  width: 70%;
  padding-left: 71px;
  margin-bottom: 44px;
}

.article-list li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  display: inline-block;
  width: 20px;
  min-width: 20px;
  height: 20px;
  background: #ffcc00;
}

.article-back {
  padding: 24px 84px;
  font-size: 14px;
}

.article-back:hover span {
  border-color: #fff;
}

.article-back span {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 13px;
  border-left: 3px solid #4a4a4a;
  border-bottom: 3px solid #4a4a4a;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: border .3s ease-in-out;
  transition: border .3s ease-in-out;
}

.smartMap {
  position: relative;
  width: 100%;
}

.smartMap object {
  width: 100%;
}

.smartMap-modal {
  position: absolute;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 155px;
  padding: 8px 18px 7px 11px;
  background: #262626;
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 100;
}

.smartMap-modal.enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transform: translate(30%);
          transform: translate(30%);
}

.smartMap-modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.smartMap-modal.exit {
  opacity: 0;
  -webkit-transform: translate(30%);
          transform: translate(30%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.smartMap-adress {
  width: 100%;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}

.smartMap-adress span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.smartMap-tel {
  width: 100%;
  font-size: 15px;
  color: #ffcc00;
}

.diler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.diler-item {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 34px;
}

.diler-name {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  color: #262626;
}

.diler-text {
  font-size: 14px;
  line-height: 30px;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 70px 100px 56px;
  -webkit-box-shadow: 0px 12px 35px 0 rgba(105, 105, 105, 0.22);
          box-shadow: 0px 12px 35px 0 rgba(105, 105, 105, 0.22);
  background: #fff;
}

.offer .title-wrap {
  margin-bottom: 60px;
}

.offer-input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 48%;
  margin-bottom: 32px;
  padding: 20px;
  font-size: 18px;
  color: #cdcdcf;
  line-height: 24px;
  border: solid 1px #e8e8e8;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.offer-input::-webkit-input-placeholder {
  font-size: 18px;
  color: #cdcdcf;
}

.offer-input:-ms-input-placeholder {
  font-size: 18px;
  color: #cdcdcf;
}

.offer-input::-ms-input-placeholder {
  font-size: 18px;
  color: #cdcdcf;
}

.offer-input::placeholder {
  font-size: 18px;
  color: #cdcdcf;
}

.offer-input:hover {
  -webkit-box-shadow: 0px 5px 10px 0 rgba(105, 105, 105, 0.1);
          box-shadow: 0px 5px 10px 0 rgba(105, 105, 105, 0.1);
}

.offer-input:focus {
  color: #ffcc00;
  -webkit-box-shadow: 0px 5px 10px 0 rgba(105, 105, 105, 0.1);
          box-shadow: 0px 5px 10px 0 rgba(105, 105, 105, 0.1);
}

.offer-input:focus::-webkit-input-placeholder {
  color: #ffcc00;
}

.offer-input:focus:-ms-input-placeholder {
  color: #ffcc00;
}

.offer-input:focus::-ms-input-placeholder {
  color: #ffcc00;
}

.offer-input:focus::placeholder {
  color: #ffcc00;
}

.offer-input_textarea {
  width: 100%;
  height: 120px;
  resize: none;
}

.offer-submit {
  margin: 0 auto;
  padding: 22px 58px;
  -webkit-box-shadow: 0px 12px 20px 0 rgba(105, 105, 105, 0.22);
          box-shadow: 0px 12px 20px 0 rgba(105, 105, 105, 0.22);
}

.offer_contact {
  position: absolute;
  width: 66%;
  right: 0;
  bottom: -165px;
  z-index: 5;
}

.offer_contact .offer-submit {
  margin: 0px 0px 0px auto;
}

.contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.contact > .title-wrap {
  padding-top: 24px;
}

.contact-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;
}

.contact-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.contact-col .contact-item:first-child {
  margin-bottom: 21px;
}

.contact-subtitle {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #4a4a4a;
}

.contact-item {
  width: 33.3%;
  font-size: 16px;
  line-height: 24px;
}

.contact-name {
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
}

.contact-text {
  color: #1d1d1d;
}

.contact-text_tel {
  font-size: 22px;
  line-height: 1.36;
}

.video-player {
  width: 100%;
  height: 600px;
}

.video-frame {
  width: 100%;
  height: 100%;
}

.videoFollow {
  width: 100%;
  margin-top: 50px;
  padding: 40px 70px;
  background: #ffcc00;
  -webkit-box-shadow: 0px 5px 15px 0 rgba(105, 105, 105, 0.1);
          box-shadow: 0px 5px 15px 0 rgba(105, 105, 105, 0.1);
}

.videoFollow-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 32px;
}

.videoFollow-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  background: #ffffff;
}

.videoFollow-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.videoFollow-title {
  font-size: 30px;
  color: #1d1d1d;
}

.videoFollow-text {
  margin-top: 9px;
  font-size: 18px;
  color: #1d1d1d;
}

.videoFollow-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 0px auto;
  padding: 17px 72px;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 0 rgba(105, 105, 105, 0.22);
          box-shadow: 0px 5px 15px 0 rgba(105, 105, 105, 0.22);
  position: relative;
  font-size: 14px;
  color: #282828;
  font-weight: bold;
}

.videoFollow-ytbBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 29px;
  height: 20px;
  margin-right: 5px;
  background: #cb0f0f;
  border-radius: 8px;
  cursor: pointer;
}

.videoFollow-ytbBtn span {
  position: relative;
  width: 0;
  height: 0;
  left: 2%;
  border-style: solid;
  border-width: 4px 0 4px 7px;
  border-color: transparent transparent transparent white;
}

.expl {
  padding: 70px 0 0;
}

.expl-text, .expl p {
  width: 74.5%;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 30px;
  color: #4a4a4a;
}

.expl-text:nth-last-child(2), .expl p:nth-last-child(2) {
  margin-bottom: 70px;
}

.expl-text_first, .expl p_first {
  margin-bottom: 65px;
}

.expl-subtitle, .expl p.expl-subtitle {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: bold;
  color: #1d1d1d;
}

.expl-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 21px 40px 19px;
}

.expl-link svg {
  width: 17px;
  height: 20px;
  margin-right: 16px;
}

.expl-link svg g {
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.expl-link:hover #file-download {
  fill: #fff;
}

.product {
  padding: 40px 0 0;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-bottom: 70px;
}

.product-imageWrap {
  position: relative;
  width: 57%;
}

.product-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-delivery {
  position: absolute;
  left: 0;
  top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.product-delivery p, .product-delivery span {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  color: #171a2b;
  line-height: 17px;
}

.product-delivery span {
  font-weight: bold;
}

.product-delivery p {
  position: absolute;
  left: 48px;
}

.product-autoIcon {
  position: absolute;
  left: 17px;
  width: 20px;
  height: 13px;
  margin-right: 11px;
}

.product-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  padding: 47px 48px 51px 35px;
  background: #fff;
  -webkit-box-shadow: 0px 12px 20px 0 rgba(105, 105, 105, 0.22);
          box-shadow: 0px 12px 20px 0 rgba(105, 105, 105, 0.22);
}

.product-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-label {
  margin: 36px 0 14px;
  font-size: 18px;
  font-weight: bold;
  color: #1d1d1d;
}

.product-label:first-child {
  margin-top: 0;
}

.product-selectWrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  -webkit-box-shadow: 0px 6px 7px 0 rgba(105, 105, 105, 0.22);
          box-shadow: 0px 6px 7px 0 rgba(105, 105, 105, 0.22);
  cursor: pointer;
}

.product-selectArrow {
  position: absolute;
  right: 27px;
  width: 13px;
}

.product-select {
  width: 100%;
  padding: 18px 22px;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product-select:hover {
  -webkit-box-shadow: 0px 6px 7px rgba(105, 105, 105, 0.22);
          box-shadow: 0px 6px 7px rgba(105, 105, 105, 0.22);
}

.product-select:focus {
  color: #ffcc00;
  -webkit-box-shadow: 0px 6px 7px rgba(105, 105, 105, 0.22);
          box-shadow: 0px 6px 7px rgba(105, 105, 105, 0.22);
}

.product-option {
  outline: none;
  border: none;
}

.product-labelRadio {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #1d1d1d;
}

.product-labelRadio svg {
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin-right: 13px;
}

.product-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.product-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.3%;
  padding: 24px 134px 19px;
  font-size: 18px;
  background: #e7e7e7;
  color: #4a4a4a;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product-tab:hover {
  background: #ffcc00;
  color: #1d1d1d;
}

.product-tab.enter, .product-tab.exit {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #e7e7e7;
}

.product-tab.active {
  background: #ffcc00;
  color: #1d1d1d;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product-description {
  width: 65%;
  margin-top: 32px;
  font-size: 16px;
  line-height: 30px;
  color: #1d1d1d;
}

.part-wrapper {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 32px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.part-wrapper.active {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.part-wrapper.enter, .part-wrapper.exit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate(-100px);
          transform: translate(-100px);
}

.part-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 49%;
  height: 240px;
  padding: 25px;
  margin-bottom: 30px;
  border: solid 1px #e7e7e7;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.part-item.active {
  border-left: 5px solid #ffcc00;
}

.part-item.active .part-add {
  background-color: #ffcc00;
  border-color: #ffcc00;
}

.part-item.enter, .part-item.exit {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.part-item:hover {
  -webkit-box-shadow: 0px 9px 16px 0 rgba(105, 105, 105, 0.22);
          box-shadow: 0px 9px 16px 0 rgba(105, 105, 105, 0.22);
}

.part-item:hover .part-params span {
  background-color: #ffcc00;
}

.part-image {
  width: 37%;
  min-width: 37%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.part-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 30px;
}

.part-title {
  position: relative;
  padding-left: 12px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #1d1d1d;
}

.part-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5px;
  background: #ffcc00;
}

.part-params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 14px;
  color: #1d1d1d;
}

.part-params p {
  max-width: 140px;
  padding-bottom: 2px;
  border-bottom: 1px dashed #ffcc00;
}

.part-params span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8px;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background-color: #e7e7e7;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.part-add {
  max-width: 240px;
  padding: 17px 40px;
  margin-top: 32px;
  font-size: 14px;
  font-weight: normal;
  color: #4a4a4a;
  border: 1px solid #4a4a4a;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.part-add:hover {
  background-color: #ffcc00;
  border-color: #ffcc00;
  -webkit-box-shadow: 0px 6px 10px 0 rgba(105, 105, 105, 0.22);
          box-shadow: 0px 6px 10px 0 rgba(105, 105, 105, 0.22);
}

.order {
  padding-top: 82px;
}

.order-table, .order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order-row {
  position: relative;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.order-row:first-child, .order-row:nth-child(2) {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.order-row.enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transform: translate(100px);
          transform: translate(100px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.order-row.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.order-row.exit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transform: translate(100px);
          transform: translate(100px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.order-header, .order-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 11px 38px 12px 0;
  font-size: 18px;
  color: #4a4a4a;
}

.order-header {
  margin-bottom: 15px;
  font-weight: bold;
  background-color: #e7e7e7;
}

.order-header span {
  position: absolute;
  left: 27px;
}

.order-header p {
  padding-left: 101px;
}

.order-label {
  padding-left: 101px;
  border-bottom: 1px dashed #a1a1a1;
}

.order-num {
  position: absolute;
  left: 27px;
}

.order-cancel {
  position: absolute;
  right: 38px;
  cursor: pointer;
}

.order-submit {
  margin: 54px auto 0;
  padding: 23px 68px;
  -webkit-box-shadow: 0px 12px 20px 0 rgba(105, 105, 105, 0.22);
          box-shadow: 0px 12px 20px 0 rgba(105, 105, 105, 0.22);
}

.more-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.more-image {
  width: 26%;
  min-height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.more-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 74%;
  padding-left: 33px;
}

.more-name {
  width: 50%;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #1d1d1d;
}

.more-name span {
  display: block;
}

.more-link {
  padding: 19px 57px;
  margin-top: 16px;
}

.footer-top {
  padding: 110px 0 70px;
  border-bottom: 10px solid #000;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-menu__item {
  width: 25%;
  line-height: 40px;
  padding: 0 0 0 15px;
  position: relative;
}

.footer-menu__item:before {
  content: "–";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer-menu__item_link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 2px 0;
  position: relative;
  font-size: 16px;
  font-weight: normal;
  color: #1d1d1d;
}

.footer-menu__item_link:before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #1d1d1d;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

.footer-menu__item_link:hover:before {
  left: 0;
  right: auto;
  width: 100%;
}

.footer-bottom {
  padding: 60px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.call {
  position: fixed;
  top: 50px;
  right: 50px;
}

.call:hover .call-title {
  width: 200px;
}

.call:hover .call-title:before {
  width: 100%;
}

.call:hover .call-inner {
  width: 210px;
}

.call.active .call-title {
  width: 200px;
}

.call.active .call-title:before {
  content: "Отправить";
  width: 100%;
}

.call.active .call-inner {
  width: 450px;
  background-color: #ffffff;
}

.call-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #ffcc00;
  position: relative;
  z-index: 10;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

.call-title:before {
  content: "Перезвоните мне";
  display: block;
  width: 0;
  height: 15px;
  overflow: hidden;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

.call-inner {
  position: absolute;
  top: 50%;
  right: -5px;
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: width .4s ease-in-out, background-color .3s ease-in-out;
  transition: width .4s ease-in-out, background-color .3s ease-in-out;
}

.call-form {
  width: calc(100% - 200px);
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(29, 29, 29, 0.8);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
  transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}
