html
	overflow-x: hidden
body
	background-color: $color-gray--darkest
	color: $color-gray--darkest
	font-size: $font-size-primary
	font-weight: $font-weight-light
	font-family: $font-family-primary
	
::selection
	background-color: $color-primary
	color: $color-gray--darkest

::-ms-expand
	display: none


.wrapper
	height: 100vh
	transition: transform .4s ease-in-out
	&.active
		transform: scale(.9)

.container
	max-width: 1200px
	margin: 0 auto
	padding: 0 15px

.section
	&-lg
		padding: 80px 0
	&-sm
		padding: 80px 0 0
	&-white
		background-color: $color-gray--lightest
	&-gray
		background-color: $color-gray
	&-yellow
		background-color: $color-primary
		.title-line
			background-color: $color-gray--darkest
	&_partnersSlider
		padding: 110px 0 195px
	&_partnersSliderHome
		padding-bottom: 195px
	&_diler
		padding: 0 0 50px
	&_modalPartner
		padding: 0 0 120px
	&_high
		padding: 110px 0
	&_video
		padding: 100px 0 40px
	&_questions
		padding: 90px 0 120px
		.title-wrap
			width: 100%
	&_bg
		position: relative
	&-bg
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background-position: bottom
		background-size: initial
		background-repeat: no-repeat
	&_order
		padding: 30px 0 56px
	&_dev
		padding-bottom: 27px
	&_offerDev
		padding: 90px 0 70px
	&_more
		padding-top: 56px
	&_articleSingle
		padding-bottom: 30px
	&_vy
		padding-bottom: 130px



@import "../modules/_header"

.table
	display: flex
	flex-direction: column
	width: 100%
	border: 1px solid #f6f6f6
	font-size: 16px
	font-weight: 400
	color: #1d1d1d
	line-height: 34px
	&-top, &-row
		display: flex
		flex-direction: row
		width: 100%
		padding-left: 30px
		border-bottom: 1px dashed #a1a1a1
		& > p
			display: flex
			align-items: center
			width: 60%
		&:nth-child(2n)
			background: #f6f6f6
		&:last-child
			border-bottom: none
	&-characteristic
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		width: 40%
		border-left: 1px solid #e7e7e7
		p
			display: flex
			justify-content: center
			align-items: center
			flex-basis: 50%
			flex-grow: 1
			height: 100%
			text-align: center
			border-left: 1px solid #e7e7e7
			&:first-child
				border: none
	


.btn
	display: inline-flex
	justify-content: center
	border: 2px solid transparent
	text-transform: uppercase
	font-weight: $font-weight-bold
	cursor: pointer
	transition: border-color .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out
	&-primary
		background-color: $color-primary
		color: $color-gray--darkest
		&:hover
			background-color: $color-gray--darken
			color: $color-gray--lightest
	&-secondary
		border-color: $color-gray--darken
		color: $color-gray--darken
		&:hover
			background-color: $color-gray--darken
			color: $color-gray--lightest
	&-lg
		padding: 20px 40px
	&-sm
		padding: 15px 30px
	&-wrap
		margin: 50px 0 0
		text-align: center
	&-toYellow
		border: solid 2px #4a4a4a
		color: #4a4a4a
		transition: all 0.3s linear
		&:hover
			box-shadow: 0px 12px 20px 0 rgba(105, 105, 105, 0.22)
			background-color: #ffcc00
			border-color: #ffcc00
			color: #2b356a

.intro
	height: 100vh
	padding: 100px 0
	overflow: hidden 
	&-inner
		display: flex
		flex-direction: column
		justify-content: space-between
		height: 100%
		position: relative
		z-index: 10
	&-social
		display: flex
		align-items: center
		&__title
			color: $color-gray--lightest
			font-size: $font-size-primary + 2
			text-transform: uppercase
			font-weight: $font-weight-regular
		&__item
			display: flex
			flex-direction: row
			align-items: center
			margin: 0 0 0 20px
			svg
				height: 20px
				margin-right: 5px
			&_link
				color: $color-primary
				font-size: $font-size-primary + 2
				text-transform: uppercase
				font-weight: $font-weight-regular
				transition: color .3s ease-in-out
				&:hover
					color: $color-gray--lightest
	&-content
		max-width: 700px
	&-title
		margin: 0 0 20px
		color: $color-primary
		font-size: $font-size-secondary + 20
		line-height: $font-size-secondary + 30
		text-transform: uppercase
	&-text
		color: $color-gray--lightest
		font-size: $font-size-primary + 4
		line-height: $font-size-secondary + 5
	&-advantages
		display: grid
		grid-template-columns: repeat(4, 1fr)
		grid-gap: 30px
		&__item
			display: flex
			flex-direction: column
			align-items: center
			width: 180px
			&_title
				margin: 24px 0 0
				color: $color-gray--lightest
				font-size: $font-size-primary + 4
				text-transform: uppercase
				font-weight: $font-weight-bold
				text-align: center
				line-height: 24px
	&-image
		position: relative
		width: 100%
		height: 100vh
		top: -115%
		left: 0
		background-size: cover
		background-position: center center
		background-repeat: no-repeat
		&:before
			content: ""
			display: block
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background-color: rgba($color-gray--darkest, .8)
	&-btn
		margin-top: 41px
		color: #fff
		padding: 25px 138px
		border: solid 2px #ffcc00
		background-color: transparent
		&:hover
			color: #000
			border-color: #ffcc00
			background-color: #ffcc00

.articleSingle
	display: flex
	flex-direction: row
	justify-content: space-between 
	align-items: center
	width: 100%
	box-shadow: 0px 15px 15px 0 rgba(255, 204, 0, 0.1)
	background-color: #ffffff
	padding: 44px 30px 53px
	animation: articleSingle 2s linear infinite
	&-content
		display: flex
		flex-direction: column
	&-date
		display: flex
		flex-direction: row
		align-items: center
		margin-bottom: 22px
		img
			width: 17px
			height: 17px
		p
			margin-left: 7px
			font-weight: normal
			font-size: 12px
			text-transform: uppercase
			color: #7f7f7f
	&-title
		margin-bottom: 3px
		font-weight: bold
		font-size: 22px
		line-height: 30px
		color: #4a4a4a
	&-text
		font-size: 16px
		color: #4a4a4a
	&-link
		padding: 23px 57px 19px

@keyframes articleSingle 
	0%
		box-shadow: 0px 5px 15px 0 rgba(255, 204, 0, 0.1)
	50%
		box-shadow: 0px 15px 15px 0 rgba(255, 204, 0, 0.6)
	100%
		box-shadow: 0px 5px 15px 0 rgba(255, 204, 0, 0.1)


.catalog
	display: grid
	grid-template-columns: repeat(3, 1fr)
	grid-gap: 30px
	&-item
		padding: 25px
		border: 1px solid transparent
		box-shadow: 0 0 25px rgba($color-gray--darkest, .05)
		transition: border-color .3s ease-in-out
		&:hover
			border-color: $color-primary
			.catalog-item__image
				transform: scale(1.05)
		&__image
			height: 100%
			background-image: url("../images/stub.jpg")
			background-size: cover
			background-position: center center
			background-repeat: no-repeat
			transition: transform .4s ease-in-out
			&_wrap
				height: 200px
				position: relative
				overflow: hidden
		&__label
			position: absolute
			left: 0
			bottom: 0
			padding: 15px
			background-color: $color-primary
			font-size: $font-size-primary - 2
			text-transform: uppercase
		&__title
			margin: 20px 0 0
			font-size: $font-size-primary + 4
			line-height: $font-size-secondary
		&__list
			margin: 20px 0 30px
			&_item
				margin: 0 0 20px
				font-size: $font-size-primary + 1
				&:last-child
					margin: 0

.benefit
	display: flex
	flex-direction: row
	justify-content: space-between
	flex-wrap: wrap
	padding: 82px 0 50px
	&-item
		display: flex
		align-items: center
		width: 50%
		margin-bottom: 88px
		&:last-child, &:nth-last-child(2)
			margin-bottom: 0
		img
			width: 100px
			min-width: 100px
			height: 100px
		&__inner
			width: 53%
			padding-left: 24px
			margin: 0 0 0 20px
		&__title
			margin: 0 0 10px
			color: $color-gray--dark
			font-size: $font-size-primary + 4
			line-height: $font-size-secondary
			text-transform: uppercase
			font-weight: $font-weight-bold
		&__text
			font-size: $font-size-primary + 1
			line-height: $font-size-secondary
	&-link
		align-self: flex-end
		margin: 0 auto 0 0
		padding: 32px 155px
.benefitConstructor
	position: relative
	display: flex
	flex-direction: row
	align-items: flex-start
	justify-content: space-between
	flex-wrap: wrap
	width: 100%
	&-item
		display: flex
		flex-direction: row
		flex-wrap: wrap
		align-items: center
		width: 28%
		img
			margin-right: 22px
		& > p
			width: 125px
			font-size: 18px
			font-weight: bold
			line-height: 26px
			color: #1d1d1d
	&-wheel
		display: flex
		flex-direction: row
		align-items: center
		width: 100%
		margin-top: 20px
		p
			margin-right: 18px
			font-weight: normal
			font-size: 16px
			line-height: 30px
			color: #1d1d1d
	&-arrow
		position: relative
		top: 35px

.about
	&-text
		margin: 0 0 20px
		font-size: $font-size-primary + 1
		line-height: $font-size-secondary
		&:last-of-type
			margin: 0 0 30px

.partners
	display: grid
	grid-template-columns: repeat(4, 1fr)
	grid-gap: 30px
	&-item
		&__image
			display: flex
			align-items: center
			height: 150px
			padding: 50px
			background-color: $color-gray--lightest
		&__title
			margin: 20px 0 15px
			font-size: $font-size-primary + 4
		&__text
			font-size: $font-size-primary + 1

.articles
	display: grid
	grid-template-columns: repeat(3, 1fr)
	grid-gap: 30px
	&-item
		padding: 25px
		box-shadow: 0 0 25px rgba($color-gray--darkest, .05)
		transition: box-shadow .3s ease-in-out
		&:hover
			box-shadow: 0 10px 50px rgba($color-gray--darkest, .1)
		&__image
			height: 200px
			background-image: url("../images/stub.jpg")
			background-size: cover
			background-position: center center
			background-repeat: no-repeat
		&__date
			display: flex
			align-items: center
			margin: 25px 0 0
		&__title
			margin: 10px 0
			font-size: $font-size-primary + 4
			line-height: $font-size-secondary
		&__text
			margin: 0 0 25px
			font-size: $font-size-primary + 1
			line-height: $font-size-secondary

.relations
	position: absolute
	top: 50px
	left: 50px
	padding: 40px
	background-color: $color-gray--lightest
	z-index: 10
	&-list
		margin: 0 0 25px
		&__item
			margin: 0 0 20px
			&:last-child
				margin: 0
			&_title
				display: block
				margin: 0 0 10px
				font-size: $font-size-primary + 1
				text-transform: uppercase
				font-weight: $font-weight-bold
			&_text
				max-width: 300px
				font-size: $font-size-primary + 1
				line-height: $font-size-secondary
			&_phone
				color: $color-gray--darkest
				font-size: $font-size-primary + 4
				line-height: $font-size-secondary
				transition: color .3s ease-in-out
				&:hover
					color: $color-primary
			&_email
				color: $color-gray--darkest
				font-size: $font-size-primary + 1
				line-height: $font-size-secondary
				transition: color .3s ease-in-out
				&:hover
					color: $color-primary
	&-wrap
		height: 600px
		position: relative
		&_aboutPage
			height: 750px
	&_aboutPage
		left: 50%
		transform: translate(-100%) 
		padding: 70px 101px 70px 70px 
		ul.relations-list
			margin-bottom: 48px 
		li.relations-list__item
			margin-bottom: 28px 
			span.relations-list__item_title
				margin-bottom: 5px
	&_dilers
		left: 46.5%
		top: 110px

.map
	width: 100%
	height: 100%

.title
	display: inline-flex
	padding: 0 0 0 30px
	position: relative
	font-size: $font-size-secondary + 5
	line-height: $font-size-secondary + 20
	text-transform: uppercase
	&_large
		font-size: 40px
		line-height: 62px
	&_contact
		font-size: 16px
		line-height: 24px
	&-text
		margin: 15px 0 0
		font-size: 18px
		line-height: $font-size-secondary + 5
		&_large
			font-size: 18px
			line-height: 30px
	&-line
		position: absolute
		top: 0
		left: 0
		width: 10px
		background-color: $color-primary
	&-wrap
		max-width: 700px
		margin: 0 0 40px
		&_article
			max-width: 800px
		&_full
			width: 100%
	&_product
		flex-wrap: wrap
		line-height: 1
		.title-line
			max-height: 60%	
	&-subRow
		display: block
		margin-top: 10px
		font-size: 30px
		text-transform: lowercase

.input
	display: block
	width: 100%
	height: 100%
	padding: 0 30px
	border-radius: 50px
	color: $color-gray--darkest
	font-size: $font-size-primary + 1
	&::-webkit-input-placeholder
		color: $color-gray--darkest
		font-size: $font-size-primary + 1
	&::-moz-placeholder
		color: $color-gray--darkest
		font-size: $font-size-primary + 1
	&:-moz-placeholder
		color: $color-gray--darkest
		font-size: $font-size-primary + 1
	&:-ms-input-placeholder
		color: $color-gray--darkest
		font-size: $font-size-primary + 1

.aboutPage
	&-wrapper
		display: flex
		flex-direction: row
		padding: 40px 0 30px
		&_home
			position: relative
			.aboutPage-block
				&:first-child
					width: 60%
				&:last-child
					position: absolute
					top: -170px
					right: 0
					width: 40%
					display: flex
					justify-content: flex-end
					align-items: flex-end
	&-block
		display: flex
		flex-direction: column
		align-items: flex-start
		&:first-child
			width: 66%
		&:last-child
			position: relative
			width: 44%
	&-logo
		height: 42px
		max-height: 42px
		margin: 0 0 58px
	&-text
		margin: 0 0 40px
		font-size: 16px
		line-height: 30px
		&_bold
			font-size: 18px 
			font-weight: bold
			span
				display: block
	&-link
		padding: 22px 66px
		margin: 24px 0 0
	&-hexagon
		position: relative
		height: 550px
		left: 100px
		top: 100px
		
.sertificates
	display: flex
	flex-direction: column
	padding: 80px 0 202px
	&_home
		width: 370px
		.sertificates-slide
			width: 370px
			img
				height: 530px
	&-slide
		margin-right: 28px 
		width: 270px
		box-shadow: 0px 5px 15px 0 rgba(105, 105, 105, 0.22)
		img
			height: 385px
		&.slick-current
			transition: transform 0.3s linear
			transform: scale(1.1)
	&-sliderBottom
		position: relative
		bottom: -100px
	&-nums
		position: absolute
		bottom: 18px
		left: 50%
		transform: translate(-50%)
	&-num
		display: flex
		align-items: center
		font-size: 22px
		line-height: 26px
		color: #cdcdcf
		&_current
			font-size: 24px
			color: #262626
	&_expl
		padding: 40px 0 130px
.arrows
	position: absolute
	display: flex
	flex-direction: row
	justify-content: space-between
	width: 100%
	bottom: -92px
	&-arrow
		position: relative
		display: flex
		align-items: center
		justify-content: center
		width: 50px
		height: 50px
		border: solid 2px #cdcdcf
		border-radius: 25px
		cursor: pointer
		transition: all 0.3s linear
		span
			width: 10px
			height: 10px
			border-left: solid 3px #cdcdcf
			border-bottom: solid 3px #cdcdcf
			margin-left: 5%
			transform: rotate(45deg)
			transition: all 0.3s linear
		&_next
			transform: rotate(-180deg)
			right: 0
		&:hover
			border-color: #ffcc00
			background: #ffcc00
			span
				border-color: #262626
.partnersSlider
	padding: 85px 0 0
	display: flex
	flex-direction: column
	&-slider
	&-slide
		width: 270px
		margin-right: 30px
		img
			width: 100%
	&-slideTitle
		margin: 24px 0 0
		font-size: 18px
		line-height: 24px
		font-weight: bold
	&-slideSubtitle
		font-size: 16px
		line-height: 24px
.press
	&-wrapper
		display: flex
		flex-direction: row
		justify-content: space-between
		flex-wrap: wrap
		padding: 40px 0 30px
		.slick-initialized .slick-slide
			display: flex
	&-item
		width: 30%
		min-height: 700px
		display: flex
		flex-direction: column
		align-items: flex-start
		margin-bottom: 60px
		padding: 28px 24px 40px 24px
		background: #fff
		box-shadow: 0px 12px 35px 0 rgba(105, 105, 105, 0.22)
		transition: border-color .3s ease-in-out
		border: 1px solid transparent
		&:hover
			border-color: $color-primary
			.press-image
				transform: scale(1.05)
	&-imageWrap
		width: 100%
		height: 260px
		margin-bottom: 24px
		overflow: hidden
	&-image
		width: 100%
		height: 100%
		background-position: center
		background-size: cover
		background-repeat: no-repeat
		transition: transform .3s ease-in-out
	&-date
		display: flex
		align-items: center
		img
			width: 18px
			height: 18px
			margin-right: 7px
		p
			font-size: 12px
			color: #7f7f7f
			line-height: 30px
			text-transform: uppercase
	&-subtitle
		margin: 10px 0
		font-size: 22px
		line-height: 30px
		color: #4a4a4a
	&-excerpt
		margin: 0 0 29px
		font-size: 16px
		line-height: 30px
		color: #4a4a4a
	&-link
		margin: auto auto 0 0
		padding: 23px 56px 19px
	&-loadmore
		padding: 24px 100px
		margin: 70px auto 0
.archive
	padding: 32px 0 50px
	display: flex
	flex-direction: row
	justify-content: space-between
	&-item
		display: flex
		flex-direction: column
		align-items: flex-start
		width: 49%
		padding: 60px 70px 70px
		background: #ffffff
		box-shadow: 0px 12px 35px 0 rgba(105, 105, 105, 0.22)
		border: 1px solid transparent
		transition: border-color .3s ease-in-out
		&:hover
			border-color: $color-primary
			.archive-image
				transform: scale(1.05)
	&-imageWrap
		position: relative
		height: 280px
		width: 100%
		overflow: hidden
	&-image
		width: 100%
		height: 100%
		background-position: center
		background-size: cover
		background-repeat: no-repeat
		transition: transform .3s ease-in-out
	&-delivery
		position: absolute
		left: 0
		bottom: 0
		display: flex
		flex-direction: row
		align-items: center
		z-index: 10
		p, span
			display: block
			text-transform: uppercase
			font-size: 13px
			color: #171a2b
			line-height: 17px
		span
			font-weight: bold
		p
			position: absolute
			left: 48px
	&-autoIcon
		position: absolute
		left: 17px
		width: 20px
		height: 13px
		margin-right: 11px
	&-subtitle
		margin: 40px 0 24px
		font-size: 22px
		line-height: 30px
		color: #4a4a4a
	&-list
		display: flex
		flex-direction: column
		margin-bottom: 50px
	&-listItem
		display: flex
		flex-direction: row
		align-items: center
		margin: 15px 0 0
		img
			width: 22px
			min-width: 22px
			height: 22px
			margin-right: 30px
		p, span
			font-size: 18px
			line-height: 39px
			color: #4a4a4a
		p
			font-weight: normal
		span
			margin-left: 5px
			font-weight: bold
	&-buttons
		display: flex
		justify-content: space-between
		width: 100%
	&-link
		&_select
			padding: 22px 30px 20px
		&_more
			padding: 23px 56px 19px
.article
	padding: 32px 0 30px
	display: flex
	flex-direction: column
	align-items: flex-start
	&-date
		display: flex
		align-items: center
		img
			width: 18px
			max-width: 18px
			height: 18px	
		p
			margin-left: 7px
			font-size: 12px
			font-weight: normal
			line-height: 30px
			text-transform: uppercase
			color: #7f7f7f
	&-text
		width: 75%
		margin: 42px 0 48px
		font-size: 16px
		line-height: 30px
		color: #4a4a4a
		&_first
			margin: 67px 0 90px
	&-subtitle
		width: 75%
		font-size: 24px
		line-height: 30px
		color: #1d1d1d
		font-weight: bold
	&-imageLabel
		display: block
		font-weight: bold
		font-style: italic
	img
		margin: 12px 0 12px
		max-width: 75%
	&-list
		padding-bottom: 42px
	&-listLabel, &-list li
		font-size: 16px
		line-height: 30px
		color: #4a4a4a
	&-listLabel
		margin-bottom: 50px
		font-weight: bold
	&-list li
		position: relative
		width: 70%
		padding-left: 71px
		margin-bottom: 44px
		&:before
			content: ''
			position: absolute
			left: 0
			top: 8px
			display: inline-block
			width: 20px
			min-width: 20px
			height: 20px
			background: #ffcc00
	&-back
		padding: 24px 84px
		font-size: 14px
		&:hover
			span
				border-color: #fff
		span
			position: relative
			top: 2px
			display: inline-block
			width: 10px	
			height: 10px
			margin-right: 13px
			border-left: 3px solid #4a4a4a
			border-bottom: 3px solid #4a4a4a
			transform: rotate(45deg)
			transition: border .3s ease-in-out
.smartMap
	position: relative
	width: 100%
	object
		width: 100%	
	&-modal
		position: absolute
		display: none
		flex-direction: row
		flex-wrap: wrap
		width: 155px
		padding: 8px 18px 7px 11px
		background: #262626
		opacity: 1
		transition: all .3s ease-in-out
		z-index: 100
		&.enter
			display: flex
			opacity: 0
			transform: translate(30%)
		&.active
			display: flex
			opacity: 1
			transform: translate(0)
			transition: all .3s ease-in-out
		&.exit
			opacity: 0
			transform: translate(30%)
			transition: all .3s ease-in-out
	&-adress
		width: 100%
		font-size: 12px
		line-height: 18px
		color: #fff
		span
			display: inline-flex
			width: 100%
	&-tel
		width: 100%
		font-size: 15px
		color: #ffcc00 
.smartMenu
	display: none
.diler
	display: flex
	flex-direction: row
	justify-content: space-between
	flex-wrap: wrap
	&-item
		width: 30%
		display: flex
		flex-direction: column
		margin-bottom: 34px
	&-name
		font-size: 16px
		font-weight: bold
		line-height: 30px
		color: #262626
	&-text
		font-size: 14px
		line-height: 30px

.offer
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: flex-start
	flex-wrap: wrap
	width: 100%
	padding: 70px 100px 56px
	box-shadow: 0px 12px 35px 0 rgba(105, 105, 105, 0.22)
	background: #fff
	.title-wrap
		margin-bottom: 60px	
	&-input
		display: inline-flex
		width: 48%
		margin-bottom: 32px
		padding: 20px
		font-size: 18px
		color: #cdcdcf
		line-height: 24px
		border: solid 1px #e8e8e8
		transition: all .3s ease-in-out 
		&::placeholder
			font-size: 18px
			color: #cdcdcf
		&:hover
			box-shadow: 0px 5px 10px 0 rgba(105, 105, 105, 0.1)
		&:focus
			color: #ffcc00
			box-shadow: 0px 5px 10px 0 rgba(105, 105, 105, 0.1)
			&::placeholder
				color: #ffcc00
		&_textarea
			width: 100%
			height: 120px
			resize: none
	&-submit
		margin: 0 auto
		padding: 22px 58px
		box-shadow: 0px 12px 20px 0 rgba(105, 105, 105, 0.22)
	&_contact
		position: absolute
		width: 66%
		right: 0
		bottom: -165px
		z-index: 5
		.offer-submit
			margin: 0px 0px 0px auto
.contact
	position: relative
	display: flex
	flex-direction: column
	width: 100%
	height: 100%
	> .title-wrap
		padding-top: 24px
	&-row
		display: flex
		flex-direction: row
		justify-content: space-between
		margin-bottom: 36px
	&-col
		display: flex
		flex-direction: column
		justify-content: space-between
		margin-bottom: 40px
		.contact-item
			&:first-child
				margin-bottom: 21px
	&-subtitle
		font-size: 16px
		font-weight: bold
		line-height: 24px
		color: #4a4a4a
	&-item
		width: 33.3%
		font-size: 16px
		line-height: 24px
	&-name
		font-weight: bold
		color: #4a4a4a
		text-transform: uppercase
	&-text
		color: #1d1d1d
		&_tel
			font-size: 22px
			line-height: 1.36	

.video
	&-player
		width: 100%
		height: 600px
	&-frame
		width: 100%
		height: 100%

.videoFollow
	width: 100%
	margin-top: 50px
	padding: 40px 70px
	background: #ffcc00
	box-shadow: 0px 5px 15px 0 rgba(105, 105, 105, 0.1)
	&-wrapper
		position: relative
		display: flex
		flex-direction: row
		align-items: center
		padding-left: 32px
	&-line
		position: absolute
		top: 0
		left: 0
		width: 10px
		background: #ffffff
	&-content
		display: flex
		flex-direction: column
		justify-content: space-between
	&-title
		font-size: 30px
		color: #1d1d1d
	&-text
		margin-top: 9px
		font-size: 18px
		color: #1d1d1d
	&-btn
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		margin: 0px 0px 0px auto
		padding: 17px 72px
		background: #ffffff
		box-shadow: 0px 5px 15px 0 rgba(105, 105, 105, 0.22)
		position: relative
		font-size: 14px
		color: #282828
		font-weight: bold
	&-ytbBtn
		display: flex
		justify-content: center 
		align-items: center
		width: 29px
		height: 20px
		margin-right: 5px
		background: #cb0f0f
		border-radius: 8px
		cursor: pointer
		span
			position: relative
			width: 0
			height: 0
			left: 2%
			border-style: solid
			border-width: 4px 0 4px 7px
			border-color: transparent transparent transparent rgba(255, 255, 255, 1)
.expl
	padding: 70px 0 0
	&-text, p
		width: 74.5%
		margin-bottom: 40px
		font-size: 16px
		line-height: 30px
		color: #4a4a4a
		&:nth-last-child(2)
			margin-bottom: 70px
		&_first
			margin-bottom: 65px
	&-subtitle, p.expl-subtitle
		margin-bottom: 24px
		font-size: 24px
		font-weight: bold
		color: #1d1d1d
	&-link
		display: inline-flex
		flex-direction: row
		align-items: center
		padding: 21px 40px 19px
		svg
			width: 17px
			height: 20px
			margin-right: 16px
			g
				transition: fill 0.3s ease-in-out
		&:hover
			#file-download
				fill: #fff
.product
	padding: 40px 0 0
	&-card
		display: flex
		flex-direction: row
		justify-content: space-between
		width: 100%
		padding-bottom: 70px
	&-imageWrap
		position: relative
		width: 57%
	&-image
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		background-position: center
		background-size: cover
		background-repeat: no-repeat
	&-delivery
		position: absolute
		left: 0
		top: 25px
		display: flex
		flex-direction: row
		align-items: center
		z-index: 10
		p, span
			display: block
			text-transform: uppercase
			font-size: 13px
			color: #171a2b
			line-height: 17px
		span
			font-weight: bold
		p
			position: absolute
			left: 48px
	&-autoIcon
		position: absolute
		left: 17px
		width: 20px
		height: 13px
		margin-right: 11px
	&-filter
		display: flex
		flex-direction: column
		width: 40%
		padding: 47px 48px 51px 35px
		background: #fff
		box-shadow: 0px 12px 20px 0 rgba(105, 105, 105, 0.22)
	&-form
		display: flex
		flex-direction: column
	&-label
		margin: 36px 0 14px
		font-size: 18px
		font-weight: bold
		color: #1d1d1d
		&:first-child
			margin-top: 0
	&-selectWrapper
		position: relative
		display: flex 
		align-items: center
		width: 90%
		box-shadow: 0px 6px 7px 0 rgba(105, 105, 105, 0.22)
		cursor: pointer
	&-selectArrow
		position: absolute
		right: 27px
		width: 13px
	&-select
		width: 100%
		padding: 18px 22px
		border: none
		outline: none
		appearance: none
		cursor: pointer
		transition: all 0.3s ease-in-out
		&:hover
			box-shadow: 0px 6px 7px rgba(105, 105, 105, 0.22)
		&:focus
			color: #ffcc00
			box-shadow: 0px 6px 7px rgba(105, 105, 105, 0.22)
	&-option
		outline: none
		border: none
	&-labelRadio
		position: relative
		display: flex 
		align-items: center
		margin-bottom: 15px
		font-size: 14px
		font-weight: normal
		line-height: 18px
		color: #1d1d1d
		svg
			width: 20px
			min-width: 20px
			height: 20px
			margin-right: 13px
	&-tabs
		display: flex
		align-items: center
		flex-wrap: wrap
		width: 100%
	&-tab
		display: flex
		justify-content: center 
		align-items: center
		width: 33.3%
		padding: 24px 134px 19px
		font-size: 18px
		background: #e7e7e7
		color: #4a4a4a
		transition: all 0.3s ease-in-out
		&:hover
			background: #ffcc00
			color: #1d1d1d
		&.enter, &.exit
			transition: all 0.3s ease-in-out
			background: #e7e7e7
		&.active
			background: #ffcc00
			color: #1d1d1d
			transition: all 0.3s ease-in-out
	&-description
		width: 65%
		margin-top: 32px
		font-size: 16px
		line-height: 30px
		color: #1d1d1d
	.modal
		top: 0
		left: 0
.part
	&-wrapper
		position: relative
		display: none
		flex-direction: row
		justify-content: space-between
		flex-wrap: wrap
		padding: 32px 0 0
		transition: all 0.3s ease-in-out
		z-index: 5
		&.active
			opacity: .99
			display: flex
			transform: translate(0)
			transition: all 0.3s ease-in-out
		&.enter, &.exit
			display: flex
			opacity: 0
			transform: translate(-100px)
	&-item
		position: relative
		display: flex
		flex-direction: row
		width: 49%
		height: 240px
		padding: 25px
		margin-bottom: 30px
		border: solid 1px #e7e7e7
		transition: all .3s ease-in-out
		&.active
			border-left: 5px solid #ffcc00
			transition: all 0.3s ease-in-out
			.part-add
				background-color: #ffcc00
				border-color: #ffcc00
				transition: all .3s ease-in-out
		&.enter, &.exit 
			transition: all .3s ease-in-out
		&:hover
			box-shadow: 0px 9px 16px 0 rgba(105, 105, 105, 0.22)
			.part-params
				span
					background-color: #ffcc00
	&-image
		width: 37%
		min-width: 37%
		height: 100%
		background-position: center
		background-size: cover
		background-repeat: no-repeat
	&-content
		display: flex
		flex-direction: column
		padding-left: 30px
	&-title
		position: relative
		padding-left: 12px
		margin-bottom: 15px
		font-size: 18px
		font-weight: bold
		line-height: 24px
		color: #1d1d1d
	&-line
		position: absolute
		top: 0
		left: 0
		width: 5px
		height: 100%
		max-height: 20px
		background: #ffcc00
	&-params
		position: relative
		display: flex
		flex-direction: row
		align-items: flex-end
		font-size: 14px	
		color: #1d1d1d
		& > p
			max-width: 140px
			padding-bottom: 2px
			border-bottom: 1px dashed #ffcc00
		& > span
			position: relative
			display: flex
			justify-content: center
			align-items: center
			margin-left: 8px
			width: 20px
			height: 20px
			border-radius: 25px
			background-color: #e7e7e7
			transition: all .3s ease-in-out
			cursor: pointer
	&-modal
		position: absolute
		top: 30px
		left: 170px
		display: none
		flex-direction: row
		flex-wrap: wrap
		width: 250px
		padding: 8px 18px 7px 11px
		background: #262626
		opacity: 1
		transition: all .3s ease-in-out
		z-index: 5
		&.enter
			display: flex
			opacity: 0
			transform: translate(30%)
			transition: all .3s ease-in-out
		&.active
			display: flex
			opacity: 1
			transform: translate(0)
			transition: all .3s ease-in-out
		&.exit
			opacity: 0
			transform: translate(30%)
			transition: all .3s ease-in-out
		ul, p
			font-size: 14px
			line-height: 1.4
			color: #fff
	&-add
		max-width: 240px
		padding: 17px 40px
		margin-top: 32px
		font-size: 14px
		font-weight: normal
		color: #4a4a4a
		border: 1px solid #4a4a4a
		transition: all .3s ease-in-out
		&:hover
			background-color: #ffcc00
			border-color: #ffcc00
			box-shadow: 0px 6px 10px 0 rgba(105, 105, 105, 0.22)
			transition: all .3s ease-in-out
	&-info
		display: flex
		flex-direction: column
		align-items: flex-start
		img
			margin: 0 auto 40px
	&-infoText
		width: 75%
		font-weight: normal
		font-size: 16px	
		color: #1d1d1d
		line-height: 1.5
	&-infoLink
		margin-bottom: 20px
		font-weight: bold
		font-size: 18px
		cursor: pointer
		color: #000
		transition: all 0.3s ease-in-out
		&:hover
			text-decoration: underline
			color: #ffcc00
	&-gallery
		display: flex
		flex-direction: row
		justify-content: space-between
		flex-wrap: wrap
		width: 100%
		height: 100%
	&-galleryLoadMore
		margin: 40px auto 0
		padding: 23px 68px
	&-photo
		width: 32%
		height: 300px
		margin-bottom: 40px
		overflow: hidden
		transition: transform 0.3s ease-in-out
		cursor: pointer
		&:hover
			& > div
				transform: scale(1.2)
		&.exit, &.enter
			transition: width 0.3s ease-in-out
		&.active
			position: absolute
			top: 50%
			left: 50%
			right: 0
			bottom: 0
			width: 70vw
			height: 70vh
			background: #000
			z-index: 105
			cursor: initial
			transform: translate(-50%, -50%)
			background: transparent
			&:hover
				& > div
					transform: scale(1)
			div
				width: 100%
				background-position: top
				background-size: contain
		div
			width: 100%
			height: 100%
			background-position: center center
			background-size: cover
			background-repeat: no-repeat
			transition: transform 0.3s ease-in-out
.order
	padding-top: 82px
	&-table, &-form
		display: flex
		flex-direction: column
	&-form
		position: relative
	&-row
		position: relative
		display: none
		align-items: center
		width: 100%
		transition: all 0.3s ease-in-out
		&:first-child, &:nth-child(2)
			display: flex !important
		&.enter
			display: flex
			opacity: 0
			transform: translate(100px)
			transition: all 0.3s ease-in-out
		&.active
			display: flex
			opacity: 1
			transform: translate(0)
		&.exit
			display: flex
			opacity: 0
			transform: translate(100px)
			transition: all 0.3s ease-in-out
	&-header, &-label
		position: relative
		display: flex
		flex-direction: row
		width: 100%
		padding: 11px 38px 12px 0
		font-size: 18px
		color: #4a4a4a
	&-header
		margin-bottom: 15px
		font-weight: bold
		background-color: #e7e7e7
		span
			position: absolute
			left: 27px
		p
			padding-left: 101px
	&-label
		padding-left: 101px
		border-bottom: 1px dashed #a1a1a1
	&-num
		position: absolute
		left: 27px
	&-cancel
		position: absolute
		right: 38px
		cursor: pointer
	&-submit
		margin: 54px auto 0
		padding: 23px 68px
		box-shadow: 0px 12px 20px 0 rgba(105, 105, 105, 0.22)
.more
	&-item
		display: flex
		flex-direction: row
		width: 100%
	&-image
		width: 26%
		min-height: 200px
		background-position: center
		background-size: cover
		background-repeat: no-repeat
	&-content
		display: flex
		flex-wrap: wrap
		align-items: flex-start
		flex-direction: column
		width: 74%
		padding-left: 33px
	&-name
		width: 50%
		font-size: 18px
		font-weight: bold
		line-height: 30px
		color: #1d1d1d
		span
			display: block
	&-link
		padding: 19px 57px
		margin-top: 16px

.bx-breadcrumb
	display: flex
	flex-direction: row
	align-items: center
	padding-bottom: 30px
	&-item
		&-link, &-text
			font-size: 16px
			color: #000
		&-link
			position: relative
			margin-right: 15px
			font-weight: bold
			&:hover
				&:after
					width: 100%
			&:before
				content: '\232A'
				position: absolute
				right: -10px
				font-size: 10px
				bottom: 4px
			&:after
				content: ''
				position: absolute
				bottom: -5px
				left: 0
				width: 1%
				height: 1px
				background-color: #ffcc00
				transition: width 0.3s ease-in-out 
			&:hover
		&-text
			font-weight: normal
.modalAnswer
	text-align: center
	.modal
		&-window
			height: 200px
.modal, .modalAnswer
	position: fixed
	display: none
	width: 100%
	height: 100%
	z-index: 100
	transition: all 0.3s ease-in-out
	&.active
		display: block
		transform: translate(0)
		opacity: 1
	&.exit, &.enter
		display: block
		transform: translate(100px)
		opacity: 0
	&-window
		position: relative
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 700px
		height: 500px
		display: flex
		flex-direction: column
		padding: 50px 100px
		background: #ffffff
		box-shadow: 0px 12px 20px 0 rgba(105, 105, 105, 0.22)
		z-index: 100
	&-bg
		position: absolute
		display: block
		left: 0
		right: 0
		bottom: 0
		width: 100vw
		height: 100vh
		z-index: 99
		background: #000
		opacity: 0.5
	&-close
		position: absolute
		width: 20px
		height: 20px
		right: 50px
		top: 50px
		cursor: pointer
		transition: transform 0.3s ease-in-out
		z-index: 105
		&:hover
			transform: rotate(720deg)
	.title
		font-size: 25px
		line-height: 1.5
	.offer-input
		width: 80%
		margin: 0 auto 20px
	.offer-submit
		margin-left: auto
		margin-right: 0
@import "../modules/_footer"

	
@media screen and (max-width: 1200px)
	.container
		max-width: 1024px
	.articleSingle
		flex-direction: column
		align-items: flex-start
		&-link
			margin: 40px auto 0 0
	.archive
		&-buttons
			flex-direction: column
		&-link
			&:last-child
				margin-top: 20px
	.benefitConstructor
		&-item
			width: 20%
			img
				margin-bottom: 20px
		&-wheel
			flex-wrap: wrap
			p
				width: 100%
				margin-bottom: 10px
	.aboutPage-wrapper_home 
		.aboutPage-block
			&:last-child
				top: 70px
	.sertificates
		&_home
			width: 250px
		.slick-slide
			height: 350px !important
	.footer-bottomLink
		.btn
			padding: 20px 30px
	.aboutPage
		&-hexagon
			left: 50px
			height: 400px

@media screen and (max-width: 1024px)
	.container
		max-width: 960px
	.burger
		left: 20px
	.wrapper
		height: 100%
	.intro
		position: relative
		height: 100%
		padding-bottom: 0
		overflow: hidden
		&-inner
			padding-bottom: 50px
		&-title, &-text
			margin-top: 50px
			margin-bottom: 20px
		&-title
			line-height: 1.5
			margin-bottom: 20px
		&-image
			position: absolute
			top: 0
			height: 100%
		&-btn
			margin-bottom: 40px
	.archive
		flex-direction: column
		&-item
			width: 70%
			margin: 0 auto 50px
		&-link
			width: 250px
			margin: 0 auto
	.benefit
		&-link
			padding: 32px 100px
	.relations
		left: 55%
		&-list__item
			&:last-child
				font-size: 11px
	.breadcrumbs
		margin: 30px 0 0
	.aboutPage
		&-wrapper
			padding: 0
	.section
		&-lg
			padding: 60px 0
			&:first-child
				padding-top: 80px
		&_partnersSlider, &_partnersSliderHome
			padding-bottom: 140px
	.sertificates
		padding: 40px 0 150px 
	.partnersSlider
		padding-top: 20px
	.article
		padding-top: 0
		&-text
			&_first
				margin: 30px 0 40px
	.contact
		&-item
			width: 27%
	.offer
		bottom: -100px
		padding: 50px 80px 36px
	.smartMap
		&-modal
			width: 200px
			padding: 10px 20px
		&-adress
			margin-bottom: 10px
	.expl
		padding: 0
	.press
		&-item
			width: 47%
		&-loadmore
			width: 55%
	.part
		&-item
			width: 100%
		&-photo
			&.active
				width: 100vw
				height: 40vh

@media screen and (max-width: 768px)
	.container
		max-width: 720px
	.intro
		padding: 120px 0 40px
		&-title
			margin-bottom: 40px
		&-advantages
			display: flex
			flex-direction: row
			justify-content: space-between
	.archive
		&-item
			width: 90%
		&-link
			&:last-child
				margin-top: 40px
	.benefit
		&-link
			margin: 60px auto 0
	.aboutPage
		&-wrapper
			&_home 
				.aboutPage
					&-block
						&:first-child
							width: 50%
	.partnersSlider-slide
		width: 150px
	.relations
		&_aboutPage
			width: 55%
			left: 60%
			padding: 60px 40px
	.footer
		&-top, &-bottom
			padding: 50px 0
		&-bottom
			flex-wrap: wrap
		&-bottomItem
			width: 50%
			margin-bottom: 40px
			&:last-child
				width: 40%
				margin: 0px auto 40px 0px
		&-bottomLink
			&.btn
				padding: 15px 40px
	.aboutPage-hexagon
		left: 35px
		height: 290px
	.sertificates-slide
		width: 300px
	.sertificates .slick-slide, .sertificates-slide img
		height: 400px !important
	.offer
		padding: 30px 40px
		&_contact
			width: 60%
		&-input
			width: 100%
		.title
			font-size: 30px
	.product
		&-card
			flex-direction: column
		&-imageWrap
			height: 500px
			width: 100%
		&-filter
			width: 100%
		&-tab
			padding: 24px 100px 19px
	.part
		&-photo
			height: 250px
	.more
		&-image
			width: 40%
	.videoFollow
		padding: 40px 40px
	.modal
		&-window
			width: 500px
			height: 500px
			padding: 50px
		.title
			font-size: 20px

@media screen and (max-width: 576px)
	.container
		max-width: 540px
	.burger
		position: fixed
		top: 15px
		left: auto
		right: 20px
		width: 30px
		transition: all 0.3s ease-in-out
		&_white
			.burger
				&-line
					background-color: #ffcc00
		&-line
			height: 2px
			transition: transform 0.3s ease-in-out
			background-color: #ffcc00
		&-title
			display: none
		&:hover, &.active
			left: auto
			transition: all 0.3s ease-in-out
			.burger
				&-line
					&:nth-child(2), &:nth-child(3)
						width: 100%
		&.active
			.burger
				&-line
					transform: rotate(720deg)
					&:before
						background-color: #fff
					&:nth-child(1)
						position: absolute
						top: 10px
						transform: rotate(45deg)
					&:nth-child(2)
						opacity: 0
					&:nth-child(3)
						position: absolute
						top: 10px
						transform: rotate(-45deg)
						
	.header
		width: 100vw
		height: 50px
		left: 0
		transform: translateX(0)
		.btn
			padding: 20px 20px
		&-menu, &-contacts
			position: relative
			bottom: 500px
			height: 0.0001px
			opacity: 0
			transition: all 0.3s ease-in-out
		&.active
			height: 100%
			position: fixed
			overflow: scroll
			.header
				&-menu
					display: block
					bottom: 0
					height: 400px
					margin-top: 50px
					margin-bottom: 0
					overflow-x: scroll 
					background-color: #4a4a4a
					opacity: 1
				&-contacts
					position: absolute
					bottom: 0
					height: 100px
					right: 0
					bottom: 0
					width: 70%
					display: block
					margin: 0 auto
					z-index: 150
					opacity: 1
					&__phone
						font-size: 14px
						margin-bottom: 10px
	.call
		top: 65px
		right: 15px
		&-title
			width: 40px
			height: 40px
		&-inner
			width: 50px
			height: 50px
	.intro
		padding-top: 70px
		&-inner
			padding-bottom: 0
		&-social
			font-size: 14px
			&__item
				&:last-child
					margin-left: 0
				svg
					height: 15px
				&_link
					display: none
		&-title
			margin-top: 60px
			margin-bottom: 10px
			font-size: 28px
			line-height: 1.3
		&-text
			margin-top: 10px
		&-btn
			width: 100%
			padding: 25px 0
		&-advantages
			flex-direction: column
			&__item
				width: 100%
				margin-bottom: 30px
				flex-direction: row
				align-items: center
				&_image
					display: flex
					align-items: center
					width: 27%
					min-width: 27%
				img
					height: 35px
					margin: 0 auto
				&_title
					margin-top: 0
					font-size: 16px
					text-align: left
	.articleSingle
		&-title
			margin-bottom: 10px
	.title
		font-size: 24px
		line-height: 35px
		&-text
			margin-top: 20px
		&-line
			width: 7px
			max-height: 35px
		&_contact
			font-size: 18px
		&-subRow
			margin-top: 0
			font-size: 18px
			line-height: 20px
	.archive
		padding-bottom: 0
		&-item
			width: 100%
			padding: 20px
			&:last-child
				margin-bottom: 0
		&-imageWrap
			height: 175px
		&-delivery
			p, span
				line-height: 12px
				font-size: 10px
			img
				&:first-child
					width: 120px
		&-subtitle
			margin-top: 30px
			margin-bottom: 0
		&-listItem
			flex-wrap: wrap
			img
				width: 15px
				min-width: 15px
				height: 15px
				margin-right: 15px
			span
				width: 100%
				margin-left: 30px
				line-height: 1.3
			p
				line-height: 1.3
		&-link
			width: 100%
			&:last-child
				margin-top: 20px
	.section
		&-lg
			padding: 30px 0px
		&_bg
			padding: 80px 0 120px
		&_partnersSliderHome, &_partnersSlider 
			padding-bottom: 130px
	.benefitConstructor
		flex-direction: column
		&-item
			flex-direction: row
			width: 100%
			img
				width: 30%
				margin-bottom: 0
		&-item > p
			font-size: 16px
			line-height: 20px
		&-arrow
			left: 32px
			top: -5px
			margin: 20px 0
			transform: rotate(90deg) !important
		&-wheel
			width: 70%
			flex-wrap: nowrap
			margin-left: auto
			margin-right: 0
			margin-top: 0
			padding-left: 22px
			p
				width: auto
				margin-bottom: 0
				font-size: 14px
			img
				height: 20px
	.benefit
		padding-top: 40px
		flex-direction: column
		&-item
			flex-direction: column
			width: 100%
			margin-bottom: 50px
			&__inner
				width: 100%
				margin: 0
				padding: 0
				text-align: center
			&__title
				margin-bottom: 0
		&-image
			margin-bottom: 24px
		&-link
			padding: 32px 0
			width: 100%
	.video
		&-player
			height: 200px
			.aboutPage-wrapper_home .aboutPage-block:first-child
	.aboutPage
		&-wrapper
			flex-direction: column
			&_home
				.aboutPage
					&-block
						&:first-child
							width: 100%
						&:last-child
							position: static
							width: 100%
		&-block
			&:first-child
				width: 100%
			&:last-child
				width: 100%
		&-hexagon
			top: 20px
			left: 0
		&-logo
			margin-bottom: 30px
		&-text
			width: 100%
		&-link
			text-align: center
			padding: 10px 40px
			line-height: 1.3
	.sertificates
		width: 100%
		padding-bottom: 110px
		&_expl
			padding-top: 0
		&-nums
			bottom: 45px
	.arrows
		bottom: -60px
		&-arrow
			width: 40px
			height: 40px
			span
				width: 7px
				height: 7px
	.partnersSlider
		&-slide
			width: 95vw
	.press
		&-wrapper
			&.slick-initialized 
				.slick-slide
					display: flex
					min-height: 650px
		&-item
			width: 100%
			margin-bottom: 0
			padding-bottom: 50px
			box-shadow: 0px 12px 35px 0 rgba(105, 105, 105, 0.22)
		&-loadmore
			width: 100%
			margin-top: 40px
			padding: 24px 60px
		&-wrapper
			&-arrows
				bottom: -10px
	.btn
		&-wrap
			.btn
				&-primary
					width: 100%
					padding: 20px 10px
	.relations
		width: 94%
		left: 97%
		.btn
			text-align: center
			padding: 10px 40px
			line-height: 1.3
		&-wrap
			&_aboutPage
				height: 1000px
	.footer
		&-top
			padding-top: 0
		&-menu
			flex-wrap: nowrap
			flex-direction: column
			&__item
				width: 100%
		&-bottomItem
			width: 100%
			&:last-child
				width: 100%
		&-bottomLink
			&.btn
				margin-bottom: 50px
	.article
		&-text
			width: 100%
			margin-bottom: 10px
			margin-top: 10px
		&-subtitle
			width: 100%
			font-size: 20px
		&-listLabel
			margin-bottom: 10px
		&-list
			padding-bottom: 0
			li
				width: 95%
				padding-left: 40px
				margin-bottom: 20px
		&-back
			padding: 24px 60px
			font-size: 12px
			span
				width: 7px
				height: 7px
	.contact
		&-row
			flex-direction: column
		&-item
			width: 100%
			margin-bottom: 20px
	.offer
		position: relative
		width: 100%
		bottom: 0
		padding: 20px 30px
		.title
			font-size: 20px
			&-wrap	
				margin-bottom: 20px
		&-input
			padding: 10px
			margin-bottom: 10px
			font-size: 14px
			&::placeholder
				font-size: 14px
		&-submit
			padding: 10px 30px
			font-size: 12px
	.diler
		&-item
			width: 100%
	.expl
		&-text, p
			width: 100%
			margin-bottom: 10px
			&:nth-last-child(2)
				margin-bottom: 20px
		&-subtitle, p.expl-subtitle
			margin-bottom: 10px
		&-link
			font-size: 12px
			text-align: center
			line-height: 1.3
	.product
		padding-top: 0
		&-imageWrap
			height: 200px
		&-tab
			width: 100%	
		&-description
			width: 100%
	.part
		&-item
			flex-direction: column
			height: auto
		&-image
			width: 100%
			height: 150px
			margin-bottom: 10px
		&-content
			padding-left: 0
		&-add
			padding: 17px 20px
			text-align: center
		&-modal
			top: 30px
			left: 170px
	.order
		padding-top: 10px
		&-header
			span
				left: 15px
			p
				padding-left: 50px
		&-num
			left: 15px
		&-label
			padding-left: 50px
		&-cancel
			right: 10px
	.more
		&-item
			flex-direction: column
		&-image
			width: 100%
		&-content
			width: 100%
			padding-left: 0
			padding-top: 10px
		&-name
			width: 100%
	.videoFollow
		padding: 20px
		&-wrapper
			flex-direction: column
		&-line
			max-height: 40px
		&-title
			font-size: 18px
		&-text
			font-size: 14px
		&-btn
			padding: 10px 40px
			margin: 20px auto 0 0
	.smartMenu
		display: flex
		flex-direction: column
		&-link
			display: flex
			flex-direction: column
			border-top: 1px solid #ffcc00
			&:last-child
				border-bottom: 1px solid #ffcc00
		&-title
			font-size: 18px
			font-weight: bold
			text-transform: uppercase
			color: #000000
		&-arrow
			span
				display: block
				width: 9px
				height: 9px
				border-left: 3px solid #ffcc00
				border-bottom: 3px solid #ffcc00
				transform: rotate(-45deg)
				transition: all 0.3s ease-in-out
			&.active
				span
					transform: rotate(135deg)
		&-linkHeader
			display: flex
			flex-direction: row
			justify-content: space-between
			align-items: center
			padding: 10px 15px
			transition: all 0.3s ease-in-out
			&.active
				background: #262626
				color: #fff
				.smartMenu-title
					color: #fff
			&.exit, &.enter
				background: transparent
				transition: all 0.3s ease-in-out
		&-desc
			display: none
			flex-direction: column
			padding: 10px 25px 20px
			color: #fff
			border-top: 1px solid #ffcc00
			background: #262626
			opacity: 0
			transition: all 0.3s ease-in-out
			&.active
				height: 100%
				display: flex
				opacity: 1
				transition: all 0.3s ease-in-out
			&.exit, &.enter
				display: flex
				height: 0.01%
				opacity: 0
				transition: all 0.3s ease-in-out
		&-adress
			line-height: 1.4
		&-tel
			padding-left: 5px
			margin-top: 5px
			font-size: 16px
			color: #ffcc00
	.modal
		&-window
			width: 280px
			height: auto
			padding: 20px
		.title
			padding-left: 0
			font-size: 16px
		&-close
			right: 20px
			top: 20px
		.offer-input
			width: 100%

			
