.footer
	position: relative
	&-top
		padding: 110px 0 70px
	&-menu
		display: flex
		flex-wrap: wrap
		flex-direction: row
		&__item
			width: 25%
			line-height: 40px
			padding: 0 0 0 15px
			position: relative
			&:before
				content: "–"
				display: block
				position: absolute
				top: 50%
				left: 0
				transform: translateY(-50%)
			&_link
				display: inline-flex
				padding: 2px 0
				position: relative
				font-size: 16px
				font-weight: normal
				color: $color-gray--darkest
				&:before
					content: ""
					display: block
					position: absolute
					right: 0
					bottom: 0
					width: 0
					height: 1px
					background-color: $color-gray--darkest
					transition: width .4s ease-in-out
				&:hover:before
					left: 0
					right: auto
					width: 100%
	&-bottom
		position: relative
		padding: 60px 0 100px
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: flex-start
		border-top: 1px solid #c58e19
	&-bottomItem
		width: 25%
		display: flex
		flex-direction: row
		justify-content: space-between
		flex-wrap: wrap
		font-size: 16px
		color: #1d1d1d
	&-bottomDept
		margin-bottom: 17px
		font-weight: normal
	&-bottomTel
		width: 100%
		font-weight: bold
	&-bottomLink
		display: flex 
		align-items: center
		font-weight: normal
		color: #000
		img
			width: 28px
			margin-right: 8px
		&.btn
			width: 100%
			padding: 24px 53px
			margin-bottom: 20px
			font-weight: bold
			font-size: 14px
			border-color: #000
			&:hover
				border-color: rgb(74, 74, 74)
				color: #ffcc00
	&-bg
		


.call
	position: fixed
	top: 50px
	right: 50px
	z-index: 20
	&:hover .call
		&-title
			width: 200px
			&:before
				width: 70%
		&-inner
			width: 210px
			animation: none
		&-image
			animation: none
	&.active .call
		&-title
			width: 200px
			&:before
				content: "Отправить"
				width: 70%
		&-inner
			width: 450px
			background-color: $color-gray--lightest
			animation: none
			left: auto
			right: -6%
			transform: translate(-5px, -50%)
			border: 1px solid #ffcc00
		&-image
			animation: none
	&-title
		display: flex
		justify-content: center
		align-items: center
		width: 50px
		height: 50px
		border-radius: 50px
		background-color: $color-primary
		position: relative
		z-index: 10
		transition: width .4s ease-in-out
		&:before
			content: "Перезвоните мне"
			display: block
			width: 0
			height: 15px
			overflow: hidden
			font-size: $font-size-primary + 1
			text-align: center
			font-weight: $font-weight-bold
			transition: width .4s ease-in-out
	&-inner
		position: absolute
		top: 50%
		left: 50%
		width: 60px
		height: 60px
		padding: 5px
		border-radius: 50px
		background-color: rgba($color-gray--lightest, .5)
		transform: translate(-50%, -50%)
		transition: width .4s ease-in-out, background-color .3s ease-in-out
		animation: callInner 1.5s linear infinite
	&-form
		width: calc(100% - 200px)
		height: 100%
	&-image
			position: relative
			animation: callImage 0.2s ease-in-out infinite
			

.overlay
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: rgba($color-gray--darkest, .8)
	z-index: 100
	opacity: 0
	visibility: hidden
	transition: opacity .4s ease-in-out, visibility .4s ease-in-out
	&.active
		opacity: 1
		visibility: visible

@keyframes callImage 
	0%
		transform: rotate(5deg)
	50%
		transform: rotate(-5deg)
	100%
		transform: rotate(5deg)
@keyframes callInner 
	0%
		width: 60px
		height: 60px
		background-color: rgba($color-gray--lightest, .5)
	100%
		width: 100px
		height: 100px
		background-color: rgba(255, 204, 0, 0.5)

@media screen and (max-width: 576px)
	.call
		&.active .call
			&-inner
				width: 205px
				left: 0
				transform: translate(-5px, 50%)
			&-form
				width: 100%
			&-image
				max-width: 8%
		&-image
			max-width: 40%